@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    800 W University Pkwy<br />
    Orem, UT 84058<br />
    <abbr title="Phone">P:</abbr>
    801.863.4636
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@secondhandshoes.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@secondhandshoes.com</a>
</address>