@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Preloved Threads <i class="fas fa-hand-holding-heart"></i></h1>
    <p class="lead">Insert clever tagline here.</p>
    <p><a href="About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h1><i class="fas fa-donate fa-2x"></i></h1>
        <h4>Donate today</h4>
        <p>Help a family in need.</p>
    </div>
    <div class="col-md-4 text-center">
        <h1><i class="fas fa-map fa-2x"></i></h1>
        <h4>Select a city</h4>
        <p>Find your nearest donation center</p>
    </div>
    <div class="col-md-4 text-center">
        <h1><i class="fa fa-exchange fa-2x"></i></h1>
        <h4>Enjoy the ride!</h4>
        <p>Go anywhere you want to go!</p>
    </div>
</div>